@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: Rubik, sans-serif;
}

.app {
  background-color: #FFFFFF;
  color: #42567A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
}

.layout {
  flex-grow: 1;
  display: grid;
  overflow: hidden;
}
